##############################################################################
# This file is part of RetroTink-Setup (https://github.com/xovox/RetroTink-Setup)
#
# RetroTink-Setup is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# RetroTink-Setup is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with RetroTink-Setup.  If not, see <https://www.gnu.org/licenses/>.
##############################################################################

##############################################################################
# This was generated using xovox's RetroTink-Setup tools!
#
# https://github.com/xovox/RetroTink-Setup
##############################################################################

gpu_mem=128
gpu_mem_256=112
gpu_mem_512=160
gpu_mem_1024=256

force_turbo=0

hdmi_ignore_cec_init=1

dtoverlay=dpi24
enable_dpi_lcd=1
display_default_lcd=1
dpi_output_format=519
dtparam=audio=on

dpi_group=2
dpi_mode=87

# NTSC Progressive Scan Boot & EmulationStation
hdmi_timings={{ hdmi_timings | mandatory}}
