##############################################################################
# This was generated using xovox's RetroTink-Setup tools!
#
# https://github.com/xovox/RetroTink-Setup
##############################################################################

gpu_mem=128
gpu_mem_256=112
gpu_mem_512=160
gpu_mem_1024=256

force_turbo=0

hdmi_ignore_cec_init=1

dtoverlay=dpi24
enable_dpi_lcd=1
display_default_lcd=1
dpi_output_format=519
dtparam=audio=on

dpi_group=2
dpi_mode=87

# NTSC Progressive Scan Boot & EmulationStation
hdmi_timings={{ hdmi_timings | mandatory}}
